[submodule "riscv-gnu-toolchain_wd/riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain_wd/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "riscv-gnu-toolchain_wd/libexpat"]
	path = riscv-gnu-toolchain_wd/libexpat
	url = https://github.com/libexpat/libexpat.git
